mixin inputs(id, type="text", label, value="", placeholder="Email", descr="")
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		input.text-field__input(type=type, name=type, placeholder=placeholder, id= id, value= value)

mixin subscribe(id="email_sub", placeholder="Email", label="subscription text field",value="", descr="")
	div.text-field.text-field_less
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		.text-field__wrapper.text-field__input-icon
			.text-field__icon-subscribe
				<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.36301 0.984375L16.3786 9L8.36301 17.0156L6.95676 15.6094L12.5349 9.98438H0.347383V8.01562H12.5349L6.95676 2.39062L8.36301 0.984375Z" fill="#BC9CFF"/></svg>
			input.text-field__input(type="email", name=type, placeholder=placeholder, id= id, value= value)

mixin inputDate(id="date1", label="date Dropdown", value="", placeholder="ДД.ММ.ГГГГ", descr="")
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		input.text-field__input.text-field__input_date( type="text", name="date", placeholder=placeholder, id= id, value= value)

mixin inputDropdawnDate-mini(id1="date2",id2="date3", label1="date Dropdown",label2="date Dropdown", placeholder="ДД.ММ.ГГГГ",value1="", descr1="",value2="", descr2="")
	div.text-field
		.text-field__row
			.text-field__column
				.label
					label.label__title(for= id1)= label1
					label.label__descr= descr1
				.text-field__wrapper
						.dropdawn-icon
						input.text-field__input.datepick( type="text", name=id1, placeholder=placeholder, id= id1, value= value1)
			.text-field__column
				.label
					label.label__title(for= id2)= label2
					label.label__descr= descr2
				.text-field__wrapper
						.dropdawn-icon
						input.text-field__input.datepick( type="text", name=id2, placeholder=placeholder, id= id2, value= value2)

mixin inputDropdawnDate-maxi(id="date4", label="filter date dropdown", placeholder="ДД.ММ.ГГГГ",value="", descr="")
	div.text-field.text-field_less
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		.text-field__wrapper
				.dropdawn-icon
				input.text-field__input.datepick( type="text", name=id, placeholder=placeholder, id= id, value= value)


mixin rangeSlider(label="Range Slider")
	.range-slider
		.label.range-slider__label
			label.label__title=label
			label.range-slider__price
				span.range-slider__from
					span.range-slider__from-upd 5000
					|	₽
				i - 
				span.range-slider__to
					span.range-slider__to-upd 15000
					|	₽
		div.r-slider




mixin inputDropdawnGuests(label="Dropdown", value="Сколько гостей", descr="")
	div.text-field
		.label
			.label__title= label
			.label__descr= descr
		.text-field__wrapper
			.dropdawn-icon
			.text-field__input.text-field__input_dropDawn=value
			.dropdawn-field
				.dropdawn-field__container
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "adults") взрослые
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(data-declensions="гость, гостя, гостей",id="adults", type="text", name="взрослые", value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "children") дети
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(id="children",type="text", name="дети", value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "babies") младенцы
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(id="babies",type="text", name="младенцы", value=0)
								a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row_buttons
					a.dropdawn-field__clear(href="") очистить
					a.dropdawn-field__accept(href="") применить

mixin inputDropdawnGuestsActive(label="Dropdown", value="Сколько гостей", descr="",adults=0,children=0,babies=0)
	div.text-field
		.label
			.label__title= label
			.label__descr= descr
		.text-field__wrapper.active
			.dropdawn-icon.active
			.text-field__input.text-field__input_dropDawn.active=value
			.dropdawn-field.active
				.dropdawn-field__container
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "adults") взрослые
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(data-declensions="гость, гостя, гостей",id="adults", type="text", name="взрослые", value=adults)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "children") дети
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(id="children",type="text", name="дети", value=children)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "babies") младенцы
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(id="babies",type="text", name="младенцы", value=babies)
								a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row_buttons
					a.dropdawn-field__clear(href="") очистить
					a.dropdawn-field__accept(href="") применить

mixin inputDropdawnEquip(label="Dropdown", value="Параметры номера", descr="Default")
	div.text-field.text-field_less
		.label
			.label__title= label
			.label__descr= descr
		.text-field__wrapper
			.dropdawn-icon
			.text-field__input.text-field__input_dropDawn=value
			.dropdawn-field.dropdawn-field_count-apart
				.dropdawn-field__container
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "bedrooms") спальни
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(data-declensions="спальня, спальни, спален", id="bedrooms", type="text", name="спальные", value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "beds") кровати
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(data-declensions="кровать,кровати,кроватей", id="beds",type="text", name="кровати", value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "bathrooms") ванные комнаты
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(data-declensions="ванная комната,ванные комнаты,ванных комнат", id="bathrooms",type="text", name="ванные", value=0)
								a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row_buttons
					a.dropdawn-field__clear(href="") очистить
					a.dropdawn-field__accept(href="") применить

mixin inputDropdawnEquipActive(label="Dropdown", value="Параметры номера", descr="Default")
	div.text-field.text-field_less
		.label
			.label__title= label
			.label__descr= descr
		.text-field__wrapper.active
			.dropdawn-icon.active
			.text-field__input.text-field__input_dropDawn.active=value
			.dropdawn-field.dropdawn-field_count-apart.active
				.dropdawn-field__container
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "bedrooms") спальни
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(data-declensions="спальня, спальни, спален", id="bedrooms", type="text", name="спальные", value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "beds") кровати
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(data-declensions="кровать,кровати,кроватей", id="beds",type="text", name="кровати", value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= "bathrooms") ванные комнаты
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject(data-declensions="ванная комната,ванные комнаты,ванных комнат", id="bathrooms",type="text", name="ванные", value=0)
								a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row_buttons
					a.dropdawn-field__clear(href="") очистить
					a.dropdawn-field__accept(href="") применить

mixin inputTextfield(id, label, placeholder)
	div.text-field
		label(for= id)= label
		textarea(rows="5", name= id, id= id, placeholder= val,autocomplete="false")

mixin inputToggle(id, label, checked)
	div.text-field
		label(for= id)
			input(type="checkbox", name= id, id= id, checked= checked, autocomplete="off")
			span= label

mixin inputSelect(id, label, selected, vals)
	div.text-field
		label(for= label)= label
		select(id= id, name= id)
			each val in vals
				- var isSelected = (selected==val[1]) ? true : false
				option(value= val[0], selected= isSelected)= val[1]

mixin inputToggleCollection(id, label, vals, checked)
	- var active = []
	- if (checked!=undefined) {
		- active = checked.split(",")
	- }
	fieldset
		legend= label
		each val in vals
			- var isSelected = (active.indexOf(val)>-1) ? true : false
			+inputToggle(val.replace(/\s/g,''), val, isSelected)

