mixin inputs(id, type="text", label, value="", placeholder="Email", descr="")
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		input.text-field__input(type=type, name=type, placeholder=placeholder, id= id, value= value)

mixin inputDate(id="date1", label="date Dropdown", value="", placeholder="ДД.ММ.ГГГГ", descr="")
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		input.text-field__input.text-field__input_date( type="text", name="date", placeholder=placeholder, id= id, value= value)

mixin inputDropdawnDate-mini(id="date1", label="date Dropdown", value="", placeholder="ДД.ММ.ГГГГ", descr="")
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		.text-field__wrapper
			.text-field__input-icon
				input.text-field__input.text-field__input_date.text-field__input_dropDawn.datepicker-here( type="text", name=id, placeholder=placeholder, id= id, value= value)


mixin rangeSlider(label="Range Slider")
	.range-slider
		.label.range-slider__label
			label.label__title=label
			label.range-slider__price
				span.range-slider__from
					span.range-slider__from-upd 5000
					|	₽
				i - 
				span.range-slider__to
					span.range-slider__to-upd 15000
					|	₽
		div.r-slider




mixin inputDropdawn(label="Dropdown", value="Сколько гостей", descr="")
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		.text-field__wrapper
			.text-field__input-icon
				.text-field__input.text-field__input_dropDawn=value
			.dropdawn-field
				.dropdawn-field__row
					.dropdawn-field__subject взрослые
					.dropdawn-field__counter
						.counter
							a.counter__minus.counter__btn
							input.counter__cnt.dropdawn-field__subject(type="text", name="Взрослые", value=0)
							a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row
					.dropdawn-field__subject дети
					.dropdawn-field__counter
						.counter
							a.counter__minus.counter__btn
							input.counter__cnt.dropdawn-field__subject(type="text", name="Взрослые", value=0)
							a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row
					.dropdawn-field__subject младенцы
					.dropdawn-field__counter
						.counter
							a.counter__minus.counter__btn
							input.counter__cnt.dropdawn-field__subject(type="text", name="Взрослые", value=0)
							a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row
					a.dropdawn-field__clear(href="") очистить
					a.dropdawn-field__accept(href="") применить




mixin inputTextfield(id, label, placeholder)
	div.text-field
		label(for= id)= label
		textarea(rows="5", name= id, id= id, placeholder= val,autocomplete="false")

mixin inputToggle(id, label, checked)
	div.text-field
		label(for= id)
			input(type="checkbox", name= id, id= id, checked= checked, autocomplete="off")
			span= label

mixin inputSelect(id, label, selected, vals)
	div.text-field
		label(for= label)= label
		select(id= id, name= id)
			each val in vals
				- var isSelected = (selected==val[1]) ? true : false
				option(value= val[0], selected= isSelected)= val[1]

mixin inputToggleCollection(id, label, vals, checked)
	- var active = []
	- if (checked!=undefined) {
		- active = checked.split(",")
	- }
	fieldset
		legend= label
		each val in vals
			- var isSelected = (active.indexOf(val)>-1) ? true : false
			+inputToggle(val.replace(/\s/g,''), val, isSelected)

