mixin inputs(id, type="text", label, value="", placeholder="Email", descr="",isRequired=false)
	div.text-field
		if !(label==='' ) &&  !(descr='')
			.label
				label.label__title(for= id)= label
				label.label__descr= descr
		input.text-field__input(type=type, name=type, placeholder=placeholder, id= id, value= value, required=isRequired)

mixin subscribe(id="email_sub", placeholder="Email", label="subscription text field",value="", descr="")
	form(action='#' method='post').subscribe-form
		div.text-field
			.label
				label.label__title(for= id)= label
				label.label__descr= descr
			.text-field__wrapper.text-field__input-icon
				input.text-field__icon-subscribe(type='submit' value='')
				input.text-field__input(type="email", name=type, placeholder=placeholder, id= id, value= value, required)

mixin inputDate(id="date1", label="date Dropdown", value="", placeholder="ДД.ММ.ГГГГ", descr="",isRequired=false)
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		input.text-field__input.text-field__input_date( type="text", name="date", placeholder=placeholder, id= id, value= value, required=isRequired)




//
	mixin inputTextfield(id, label, placeholder)
		div.text-field
			label(for= id)= label
			textarea(rows="5", name= id, id= id, placeholder= val,autocomplete="false")

	mixin inputToggle(id, label, checked)
		div.text-field
			label(for= id)
				input(type="checkbox", name= id, id= id, checked= checked, autocomplete="off")
				span= label

	mixin inputSelect(id, label, selected, vals)
		div.text-field
			label(for= label)= label
			select(id= id, name= id)
				each val in vals
					- var isSelected = (selected==val[1]) ? true : false
					option(value= val[0], selected= isSelected)= val[1]

	mixin inputToggleCollection(id, label, vals, checked)
		- var active = []
		- if (checked!=undefined) {
			- active = checked.split(",")
		- }
		fieldset
			legend= label
			each val in vals
				- var isSelected = (active.indexOf(val)>-1) ? true : false
				+inputToggle(val.replace(/\s/g,''), val, isSelected)

