mixin checkbox-shape_rich(id, labelName,labelName_rich)
	.checkbox-shape
		input.checkbox-shape__input(type="checkbox" id=id name=id value="yes")
		label(for=id) 
			.checkbox-shape__shape
				.checkbox-shape__inside
			.checkbox-shape__text
				p.checkbox-shape__richText=labelName_rich
				p.checkbox-shape__smallText=labelName


