
mixin inputDropdawnGuests(id='', label='Dropdown', value='Сколько гостей', descr='')
	div.text-field
		.label
			.label__title= label
			.label__descr= descr
		.text-field__wrapper
			.dropdawn-icon
			.text-field__input(data-valueDefault=value).text-field__input_dropDawn=value
			.dropdawn-field
				.dropdawn-field__container
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'adults') взрослые
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.adults(data-declensions='гость, гостя, гостей',data-id=id,id=`adults${id}`, type='text', name='взрослые', value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'children') дети
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.children(id=`children${id}`,type='text', name='дети', value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'babies') младенцы
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.babies(id=`babies${id}`,type='text', name='младенцы', value=0)
								a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row_buttons
					a.dropdawn-field__clear(href='') очистить
					a.dropdawn-field__accept(href='') применить

mixin inputDropdawnGuestsActive(id='',label='Dropdown', value='Сколько гостей', descr='',adults=0,children=0,babies=0)
	div.text-field
		.label
			.label__title= label
			.label__descr= descr
		.text-field__wrapper.active
			.dropdawn-icon.active
			.text-field__input(data-valueDefault=value).text-field__input_dropDawn.active=value
			.dropdawn-field.active
				.dropdawn-field__container
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'adults') взрослые
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.adults(data-declensions='гость, гостя, гостей',id=`adults${id}`, type='text', name='взрослые', value=adults)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'children') дети
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.children(id=`children${id}`,type='text', name='дети', value=children)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'babies') младенцы
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.babies(id=`babies${id}`,type='text', name='младенцы', value=babies)
								a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row_buttons
					a.dropdawn-field__clear(href='') очистить
					a.dropdawn-field__accept(href='') применить

mixin inputDropdawnEquip(id='',label='Dropdown', value='Параметры номера', descr='Default')
	div.text-field
		.label
			.label__title= label
			.label__descr= descr
		.text-field__wrapper
			.dropdawn-icon
			.text-field__input(data-valueDefault=value).text-field__input_dropDawn=value
			.dropdawn-field.dropdawn-field_count-apart
				.dropdawn-field__container
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'bedrooms') спальни
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.bedrooms(data-declensions='спальня, спальни, спален', id=`bedrooms${id}`, type='text', name='спальные', value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'beds') кровати
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.beds(data-declensions='кровать,кровати,кроватей', id=`beds${id}`,type='text', name='кровати', value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'bathrooms') ванные комнаты
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.bathrooms(data-declensions='ванная комната,ванные комнаты,ванных комнат', id=`bathrooms${id}`,type='text', name='ванные', value=0)
								a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row_buttons
					a.dropdawn-field__clear(href='') очистить
					a.dropdawn-field__accept(href='') применить

mixin inputDropdawnEquipActive(id='',label='Dropdown', value='Параметры номера', descr='Default')
	div.text-field
		.label
			.label__title= label
			.label__descr= descr
		.text-field__wrapper.active
			.dropdawn-icon.active
			.text-field__input(data-valueDefault=value).text-field__input_dropDawn.active=value
			.dropdawn-field.dropdawn-field_count-apart.active
				.dropdawn-field__container
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'bedrooms') спальни
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.bedrooms(data-declensions='спальня, спальни, спален', id=`bedrooms${id}`, type='text', name='спальные', value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'beds') кровати
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.beds(data-declensions='кровать,кровати,кроватей', id=`beds${id}`,type='text', name='кровати', value=0)
								a.counter__plus.counter__btn.counter__btn_active
					.dropdawn-field__row
						label.dropdawn-field__subject(for= 'bathrooms') ванные комнаты
						.dropdawn-field__counter
							.counter
								a.counter__minus.counter__btn
								input.counter__cnt.dropdawn-field__subject.bathrooms(data-declensions='ванная комната,ванные комнаты,ванных комнат', id=`bathrooms${id}`,type='text', name='ванные', value=0)
								a.counter__plus.counter__btn.counter__btn_active
				.dropdawn-field__row_buttons
					a.dropdawn-field__clear(href='') очистить
					a.dropdawn-field__accept(href='') применить