mixin checkbox-like(id)
	.checkbox-shape.checkbox-shape_like
		input.checkbox-shape__input(type="checkbox" id=id name=id value="yes")
		label(for=id) 
			.option-shape
				.checkbox-shape__shape_like
					.inside-like
						.inside-like__icon
						span.inside-like__cnt 12


mixin checkbox(id='id',type='like',textValue, kindOfSimple,textDescr)
	.checkbox-shape
		input.checkbox-shape__input(type="checkbox" id=id name=id value="yes")
		label(for=id) 
			if type==='like'
				.button-checkbox.button-checkbox_grdBorder
					.inside-like
						.inside-like__icon
						.inside-like__val 12
			else if  type==='toggle'
				.button-checkbox.button-checkbox_smplBorder
					.inside-toggle
				.checkbox-shape__text
					span.checkbox-shape__text_toggle=textValue
			else
				.button-checkbox.button-checkbox_simple.button-checkbox_grdBorder
					.inside-check
				.checkbox-shape__text
					if kindOfSimple==='rich'
						p.checkbox-shape__text_richText=textValue
						p.checkbox-shape__text_smallText=textDescr
					else 
						span=textValue




mixin checkbox-toggle2(id, labelName)
	.checkbox-shape
		input.checkbox-shape__input(type="checkbox" id=id name=id value="yes")
		label(for=id)
			.button-like.button-like_smplBorder
				.inside-toggle

mixin checkbox-shape(id, kind, value,descr)
	.checkbox-shape
		input.checkbox-shape__input(type="checkbox" id=id name=id value="yes",kind='simple')
		label(for=id) 
			.checkbox-shape__shape.option-shape
				.checkbox-shape__inside
			.checkbox-shape__text
				if kind==='rich'
					p.checkbox-shape__richText=value
					p.checkbox-shape__smallText=descr
				else 
					span=value

