include /project/common.blocks/ui_kit/cards/room-card/room-card.pug
include /project/common.blocks/ui_kit/form_elements/datepicker/datepicker.pug
include /project/common.blocks/ui_kit/form_elements/dropdawn/dropdawn.pug
include /project/common.blocks/ui_kit/form_elements/range-slider/range-slider.pug
include /project/common.blocks/ui_kit/form_elements/pagination/pagination.pug
include /project/common.blocks/ui_kit/form_elements/option-buttons/checkbox/checkbox-simple/checkbox-list.pug
include /project/common.blocks/ui_kit/form_elements/bullet-list/bullet-list.pug
include /project/common.blocks/ui_kit/form_elements/advantages/advantages.pug
include /project/common.blocks/ui_kit/form_elements/review/review.pug

include /project/common.blocks/ui_kit/form_elements/diagramm/diagramm.pug

mixin room-photo(bigPic='888big.jpg',smallPicTop='888_2.jpg',smallPicBottom='888_3.jpg')
	.room-photo
		.room-photo__row
			.room-photo__column.room-photo__column_b
				.room-photo__item.room-photo__item_big.ibg
					img(src=`assets/img/${bigPic}`,alt=bigPic)
			.room-photo__column.room-photo__column_s
				.room-photo__item.room-photo__item_top.ibg
					img(src=`assets/img/${smallPicTop}`,alt=smallPicTop)
				.room-photo__item.room-photo__item_bottom.ibg
					img(src=`assets/img/${smallPicBottom}`,alt=smallPicBottom)

<!DOCTYPE html>
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		title Document
	body
		.wrapper
			include /pages/common/header/header.pug
			main.main
				+room-photo('888big.jpg','888_2.jpg','888_3.jpg')
				.container
					.content
						.content__row
							.content__column.content__column_info
								.info-content
									.info-content__row
										.info-content__column.info-content__column_advantages
											-
												var advantagesList=[
													'comfort',
													'windows',
													'cosy'
												]
											+advantages(advantagesList,'true','Сведения о номере')
										.info-content__column.info-content__column_impression
											.impression
												.impression__title
													+block-header('Впечатления от номера')
												.impression__canvas
													+diagramm()
									.info-content__reviews
										-
											var reviewList=[
												{photo:'murad.png',name:'Мурад Сарафанов',when:'5 дней назад',descr:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'},
												{photo:'patricia.png',name:'Патрисия Стёклышкова',when:'Неделю назад',descr:'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'}
												
											]
										+reviews(reviewList,'true','Отзывы посетителей номера')
									.info-content__how
										.how-to
											.how-to__column.how-to__rules
												-
													var bulletList=[
														'Нельзя с питомцами',
														'Без вечеринок и мероприятий',
														'Время прибытия — после 13:00, а выезд до 12:00'
														]
												+bullet-list(bulletList,links='false',isHeader='big',title='Правила')
											.how-to__column.how-to__cancel
												.cancel-about
													.cancel-about__title
														+block-header('Отмена')
													p.cancel-about__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
							.content__column.content__column_bill





			include /pages/common/footer/footer.pug
