
mixin inputDatePicker(id='datepicker', label='filter date dropdown', placeholder='ДД.ММ.ГГГГ',value='', range='true', dateFormat= 'dd M',descr='')
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		.text-field__wrapper
				.dropdawn-icon
				input.text-field__input.datepick( type='text', name=id, placeholder=placeholder, id= id, value= value,data-range=range,data-dateFormat=dateFormat)