
mixin inputDropdawnDate-mini(id1='date2',id2='date3', label1='date Dropdown',label2='date Dropdown', placeholder='ДД.ММ.ГГГГ',value1='', descr1='',value2='', descr2='', range='false',dateFormat= 'dd.mm.yyyy')
	div.text-field
		.text-field__row
			.text-field__column
				.label
					label.label__title(for= id1)= label1
					label.label__descr= descr1
				.text-field__wrapper
						.dropdawn-icon
						input.text-field__input.datepick( type='text', name=id1, placeholder=placeholder, id= id1, value= value1,data-range=range,data-dateFormat=dateFormat)
			.text-field__column
				.label
					label.label__title(for= id2)= label2
					label.label__descr= descr2
				.text-field__wrapper
						.dropdawn-icon
						input.text-field__input.datepick( type='text', name=id2, placeholder=placeholder, id= id2, value= value2,data-range=range,data-dateFormat=dateFormat)

mixin inputDropdawnDate-maxi(id='date4', label='filter date dropdown', placeholder='ДД.ММ.ГГГГ',value='', descr='', range='true', dateFormat= 'dd M')
	div.text-field.text-field_less
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		.text-field__wrapper
				.dropdawn-icon
				input.text-field__input.datepick( type='text', name=id, placeholder=placeholder, id= id, value= value,data-range=range,data-dateFormat=dateFormat)

mixin inputDatePicker(id='datepicker', label='filter date dropdown', placeholder='ДД.ММ.ГГГГ',value='', range='true', dateFormat= 'dd M',descr='')
	div.text-field
		.label
			label.label__title(for= id)= label
			label.label__descr= descr
		.text-field__wrapper
				.dropdawn-icon
				input.text-field__input.datepick( type='text', name=id, placeholder=placeholder, id= id, value= value,data-range=range,data-dateFormat=dateFormat)